﻿@model ContactsDto
@{
    ViewData["Title"] = "Home Page";
}
<section class="mt-5">
    @*Mensaje*@
    <div id="formensmodal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h4 class="modal-title" id="mtitle">Espere...</h4>
                </div>
                <div class="modal-body d-flex justify-content-center" id="midcuerpo">
                    <i class="fas fa-sync-alt fa-spin fa-4x"></i>
                </div>
                <div class="modal-footer justify-content-between" id="mfooter">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 align-content-center justify-content-center d-flex">
            <img src="~/img/sigma-logo.png" class="img-fluid" />
        </div>
        <div class="col-12 mt-4 text-center">
            <h3 class="titulo1">Prueba de desarrollo Sigma</h3>
        </div>
        <div class="col-12 mt-4 text-center">
            <p class="subtitulo text-gray pl-md-2 pr-md-2 pl-lg-10 pr-lg-10 pl-xl-10 pr-xl-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore Ipsum has been then industry's standard dummy text ever since the 1500s, when an unknown priter took s galley of type and scrambled it to make a type specimen book</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <img src="/img/sigma-image.png" class="img-fluid" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body justify-context-start">
                    <form id="form1" method="post">
                        <div class="row">
                            <div class="col-12">
                                <label for="selectdepart" class="subtitulo">Departamento*:</label>
                                @Html.DropDownList("state", new SelectList(Model.departamentolista, "Value",
                                                               "Text"), "Seleccione un Departamento", new { @class = "form-control", @id = "selectdepart" })
                                <div class="text-danger mt-2 mb-2">
                                    <span asp-validation-for="state"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label for="selectcity" class="subtitulo">Ciudad*:</label>
                                @Html.DropDownList("city", new SelectList(Model.ciudadlista, "Value",
                                                               "Text"), "Seleccione una Ciudad", new { @class = "form-control", @id = "selectcity" })
                                <div class="text-danger mt-2 mb-2">
                                    <span asp-validation-for="city"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label asp-for="name"></label>
                                <input asp-for="name" class="form-control" placeholder="Nombre" id="txtnombre">
                                <div class="text-danger mt-2 mb-2">
                                    <span asp-validation-for="name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row  mt-2">
                            <div class="col-12">
                                <label asp-for="email"></label>
                                <input asp-for="email" class="form-control" placeholder="Nombre" id="txtemail">
                                <div class="text-danger mt-2 mb-2">
                                    <span asp-validation-for="email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 d-flex align-content-center justify-content-center">
                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger bg-gradient-danger btn-lg btn-block bguardar rounded-pill subtitulo" onclick="foperaciones()">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            obtenerdepartamento();
            $("#selectdepart").change(function () {
                obtenerCiudad($(this).val().trim());
            });
        });
        function obtenerdepartamento() {
            $("#selectdepart").empty();
            $("#selectdepart").append("<option value=0 >Seleccione un Departamento</option>");
            var purl = "@Url.Action("GetDepartamentoCiudad","Home")";
            $.ajax({
                type: "GET",
                url: purl,
                dataType: "json",
                success: function (response) {
                    if (response.length != 0) {
                        $.each(response, function (index, value) {
                            $("#selectdepart").append("<option value='" + index +"'>" + index + "</option>");
                        });
                    }
                },
                failure: function (response) {
                    mcuerpo = "<p>" + response + "</p>";
                    mtitle = "Error";
                    mfooter = "<button type=\"button\" class=\"btn btn-outline-danger\" data-dismiss=\"modal\" aria-label=\"Close\">Cerrar</button>";
                    abrirmodal(mtitle, mcuerpo, mfooter);
                }
            });
        };
        function obtenerCiudad(iddepartamento) {
            $("#selectcity").empty();
            $("#selectcity").append("<option value=0>Selecciona la Ciudad</option>");
            var purl = "@Url.Action("GetDepartamentoCiudad","Home")";
            $.ajax({
                type: "GET",
                url: purl,
                dataType: "json",
                success: function (response) {
                    if (response.length != 0) {
                        $.each(response, function (index, value) {
                            if (index == iddepartamento) {
                                value.forEach(element => $("#selectcity").append("<option value='" + element + "'>" + element + "</option>"));
                            }
                        });
                    }
                },
                failure: function (response) {
                    mcuerpo = "<p>" + response + "</p>";
                    mtitle = "Error";
                    mfooter = "<button type=\"button\" class=\"btn btn-outline-danger\" data-dismiss=\"modal\" aria-label=\"Close\">Cerrar</button>";
                    abrirmodal(mtitle, mcuerpo, mfooter);
                }
            });
        };

        function foperaciones() {
            var tid = 0;
            var documentocargar = {
                "id": tid,
                "name": $("#txtnombre").val(),
                "state": $("#selectdepart").val(),
                "city": $("#selectcity").val(),
                "email": $("#txtemail").val()
            };
            var purl = "@Url.Action("GuardarDatos", "Home")";
            var validator = $("#form1").validate();
            var estado = validator.form();
            if (estado) {
                $("#btnguardar").attr("disabled", true);
                $.ajax({
                    url: purl,
                    type: "POST",
                    dataType: "json",
                    beforeSend: function () {
                        mcuerpo = "<p><i class=\"fas fa-sync-alt fa-spin fa-4x\"></i></p>";
                        mtitle = "Espere..";
                        mfooter = "";
                        abrirmodal(mtitle, mcuerpo, mfooter);
                    },
                    data: documentocargar,
                    dataType: "json",
                    success: function (response) {
                            if (response != "") {
                                mcuerpo = "<p>" + response + "</p>";
                                mtitle = "Error";
                                mfooter = "<button type=\"button\" class=\"btn btn-outline-danger\" data-dismiss=\"modal\" aria-label=\"Close\">Cerrar</button>";
                                abrirmodal(mtitle, mcuerpo, mfooter);
                            }
                            else {
                                mcuerpo = "<p>Datos Guardados Correctamente</p>";
                                mtitle = "Información";
                                mfooter = "<button type=\"button\" class=\"btn btn-outline-danger\" data-dismiss=\"modal\" aria-label=\"Close\">Cerrar</button>";
                                abrirmodal(mtitle, mcuerpo, mfooter);
                            }
                    },
                    failure: function (response) {
                        mcuerpo = "<p>" + response + "</p>";
                        mtitle = "Error";
                        mfooter = "<button type=\"button\" class=\"btn btn-outline-danger\" data-dismiss=\"modal\" aria-label=\"Close\">Cerrar</button>";
                        abrirmodal(mtitle, mcuerpo, mfooter);
                    }
                });
            };
        };
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial");
}