﻿@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto-Medium.ttf");
}
.titulo1{
    font-family: "RobotoBold";
    color:black;
}
.subtitulo {
    font-family: RobotoMedium;
}